img {
    width: 30%;
}

section div {
    border: 10px solid lightcoral;
    border-radius: 15px;
    margin: 10px;
    width: 27%;
    height: 200px;
    float: left;
    padding: 10px;
    background-color: lightcyan;
 /* display: inline-block; cannot fix same width and height. So we had to use float with height information. */

}
section div h4 {
    text-align: center;
}